@model ViewModels.AuthorVM

<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountOfBooks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountOfBooks)
        </dd>

        @if (Model.Books.Any())
        {
            <dt>
                @Html.DisplayNameFor(model => model.Books)
            </dt>

            <dd>
                    @foreach (var book in Model.Books)
                    {
                        <a href="/Book/Details?id=@book.Id">@book.Name</a>
                    }
            </dd>
        }
    </dl>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}