@{
    ViewBag.Title = "Index";
}

@Html.Partial("~/Views/Shared/_Delete.cshtml")

<table class="table table-striped table-bordered dataTable" id="books">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Amount of books
            </th>
            <th>
                <a class="btn btn-default" href="@Url.Action("Create")"><i class="glyphicon glyphicon-plus"></i></a>
            </th>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    @Scripts.Render("~/Scripts/author-list.js")
    @Scripts.Render("~/Scripts/delete-modal.js")
<script>
        $(document).ready(function () {
            AuthorList.geAuthorsUrl = "@Url.Action("GetAuthors")";
            AuthorList.detailsUrl = "@Url.Action("Details")";
            AuthorList.editUrl = "@Url.Action("Edit")";
            AuthorList.Init();
            DeleteModal.url = "@Url.Action("Delete")";
            DeleteModal.grid = grid;
            DeleteModal.Init();
        });
</script>
}