@{
    ViewBag.Title = "Index";
}

@Html.Partial("~/Views/Shared/_Popup.cshtml", "popup")

<div id="add-template" class="hidden">
    <button class="btn btn-default author-create"><i class="glyphicon glyphicon-plus"></i></button>
</div>

<table class="table table-striped table-bordered dataTable" style="width: 100%;" id="authors">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Amount of books
            </th>
            <th>
            </th>
    </thead>
    <tbody></tbody>
</table>

@Styles.Render("~/datatables/css")
@Scripts.Render("~/bundles/datatables")
@Scripts.Render("~/bundles/view-models")
@Scripts.Render("~/bundles/author")
<script>
    $(document).ready(function () {
        let authorUrls = {};
        authorUrls.create = "@Url.Action("Create","Author")";
        authorUrls.update = "@Url.Action("Update","Author")";
        authorUrls.get = "@Url.Action("Get","Author")";
        authorUrls.delete = "@Url.Action("Delete","Author")";

        let authorController = new AuthorController(authorUrls);

        let dataUrl = "@Url.Action("GetList","Author")";
        authorController.initDataTable(dataUrl);
    });
</script>
