@{
    ViewBag.Title = "Index";
}

@Html.Partial("~/Views/Shared/_Popup.cshtml", "popup")
@Html.Partial("~/Views/Shared/_Delete.cshtml")


<div class="pull-right">
    <button class="btn btn-default" id="author-publish-btn">
        Publish to SNS
    </button>
</div>

<button class="btn btn-default" id="author-create-btn">
    <i class="glyphicon glyphicon-plus"></i>
</button>

<table class="table table-striped table-bordered dataTable" style="width: 100%;" id="authors">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Amount of books
            </th>
            <th>
            </th>
    </thead>
    <tbody></tbody>
</table>

@Styles.Render("~/datatables/css")
@Scripts.Render("~/bundles/datatables")
@Scripts.Render("~/bundles/view-models")
@Scripts.Render("~/bundles/author")
<script>
    var AuthorController;

    $(document).ready(function () {
        let authorUrls = {};
        authorUrls.create = "@Url.Action("Create","Author")";
        authorUrls.update = "@Url.Action("Update","Author")";
        authorUrls.get = "@Url.Action("Get","Author")";
        authorUrls.delete = "@Url.Action("Delete","Author")";
        authorUrls.getList = "@Url.Action("GetList","Author")";
        authorUrls.getPublishForm = "@Url.Action("Publish", "Author")";
        authorUrls.publish = "@Url.Action("Publish", "Author")";
        authorUrls.sendToRabbitMQ = "@Url.Action("SendToRabitMQ", "Author")";

        AuthorController = new AuthorController(authorUrls);
        AuthorController.init();
    });
</script>
