<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-info bg-info navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Book catalog</a>
                <button type="button" class="navbar-toggle glyphicon glyphicon-chevron-down" data-toggle="collapse" data-target="#menu" />
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("Books", "Index", "Book") </li>
                    <li>@Html.ActionLink("Authors", "Index", "Author") </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("~/Views/Shared/_Alert.cshtml")
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/general-config.js")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            GeneralConfig.Init();
        });
    </script>
</body>
</html>
