@model ViewModels.BookVM

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pages)
        </dd>

        @if (Model.Authors.Any())
        {
            <dt>
                @Html.DisplayNameFor(model => model.Authors)
            </dt>

            <dd>
                @foreach (var author in Model.Authors)
                {
                        <a href="/Author/Details?id=@author.Id">@(author.Name + " " + author.Surname)</a>
                }
            </dd>
        }

    </dl>
</div>