@{
    ViewBag.Title = "Index";
}

@Html.Partial("~/Views/Shared/_Popup.cshtml", "popup")

<div id="add-template" class="hidden">
    <button class="btn btn-default book-get"><i class="glyphicon glyphicon-plus"></i></button>
</div>

<table class="table table-striped table-bordered dataTable" style="width: 100%;" id="books">
    <thead>
        <tr>
            <th>
                Caption
            </th>
            <th>
                Pages
            </th>
            <th>
                Rate
            </th>
            <th>
                Year
            </th>
            <th>
                Authors
            </th>
            <th>
            </th>
    </thead>
    <tbody></tbody>
</table>

@Styles.Render("~/datatables/css")
@Scripts.Render("~/bundles/datatables")
@Scripts.Render("~/bundles/view-models")
@Scripts.Render("~/bundles/books")
<script>
    var DT;
    $(document).ready(function () {
        let urls = {};
        urls.get = "@Url.Action("Get")";
        urls.authorGet = "@Url.Action("Get", "Author")";
        urls.dtData = "@Url.Action("GetBooks")";
        urls.delete = "@Url.Action("DeleteModal")";
        DT = new BookDataTableController(urls);
    });
</script>
