@{
    ViewBag.Title = "Index";
}

@Html.Partial("~/Views/Shared/_Delete.cshtml")
@Html.Partial("~/Views/Shared/_Popup.cshtml", "popup")

<div id="add-template" class="hidden">
    <button class="btn btn-default book-popup" data-toggle="modal" data-target="#popup"><i class="glyphicon glyphicon-plus"></i></button>
</div>

<table class="table table-striped table-bordered dataTable" style="width: 100%;" id="books">
    <thead>
        <tr>
            <th>
                Caption
            </th>
            <th>
                Pages
            </th>
            <th>
                Rate
            </th>
            <th>
                Year
            </th>
            <th>
                Authors
            </th>
            <th>
            </th>
    </thead>
    <tbody></tbody>
</table>

@Styles.Render("~/datatables/css")
@Scripts.Render("~/bundles/datatables")
@Scripts.Render("~/bundles/books")
<script>
    $(document).ready(function () {
        BookList.getDataUrl = "@Url.Action("GetBooks")";
        BookList.getUrl = "@Url.Action("Get")";
        BookList.authorGetUrl = "@Url.Action("Get", "Author")";
        BookList.deleteUrl = "@Url.Action("Delete")";
        BookList.Init();
    });
</script>
