@{
    ViewBag.Title = "Index";
}

@Html.Partial("~/Views/Shared/_Popup.cshtml", "popup")
@Html.Partial("~/Views/Shared/_Delete.cshtml")

<div class="pull-right">
    <button class="btn btn-default" id="book-publish-btn">
        Publish to SNS
    </button>
</div>

<button class="btn btn-default" id="book-create-btn">
    <i class="glyphicon glyphicon-plus"></i>
</button>

<table class="table table-striped table-bordered dataTable" style="width: 100%;" id="books">
    <thead>
        <tr>
            <th>
                Caption
            </th>
            <th>
                Pages
            </th>
            <th>
                Rate
            </th>
            <th>
                Year
            </th>
            <th>
                Authors
            </th>
            <th>
            </th>
    </thead>
    <tbody></tbody>
</table>

@Styles.Render("~/datatables/css")
@Scripts.Render("~/bundles/datatables")
@Scripts.Render("~/bundles/view-models")
@Scripts.Render("~/bundles/book")
@Scripts.Render("~/bundles/jqueryval")
@Styles.Render("~/book/css")

<script>
    var BookController;
    $(document).ready(function () {

        let bookUrls = {};
        bookUrls.update = "@Url.Action("Update","Book")";
        bookUrls.create = "@Url.Action("Create","Book")";
        bookUrls.get = "@Url.Action("Get","Book")";
        bookUrls.delete = "@Url.Action("Delete","Book")";
        bookUrls.getAuthors = "@Url.Action("GetByTerm","Author")"
        bookUrls.getList = "@Url.Action("GetList","Book")";
        bookUrls.getPublishForm = "@Url.Action("Publish","Book")";
        bookUrls.publish = "@Url.Action("Publish","Book")";
        bookUrls.sendToRabbitMQ = "@Url.Action("SendToRabitMQ", "Book")";

        BookController = new BookController(bookUrls);
        BookController.init();
    });
</script>
